@media (max-width:1000px) {
    .left {
        width:80px;
    }
    .center {
        width: 45%;
        font-size: 32px;
        margin: 35px 0px 0px 140px;   
        
    }
    .right {
        width: 20%;
    }


}

@media (max-width:600px) {
    .left {
        width:80px;
    }
    .center {
        width: 60%;
        font-size: 32px;
        margin: 35px 0px 0px 140px;   
        ;
    }
    .right {
        width: 20%;
    }

    li {
        height: 200px;
        display: block;
        width: 500px;
    
    
    }

    li h1 {
        font-size: 12px;
    }
    .konfirm {
        width: 700px;
    }

}