@media (max-width:1000px) {
    .left {
        width:80px;
    }
    .center {
        width: 55%;
        font-size: 32px;
        margin: 35px 0px 0px 140px;   
        
    }
    .right {
        width: 20%;
    }
    .main h1 {
        padding: 15px;
    }
    li {
        height: 150px;
        width: 40%;
        margin-top: 10px;
        padding-top: 5px;
    }
    li h1, li p{
        font-size: 25px;
    }
    .vaksin-dosis1, .vaksin-dosis2 {
        width: 86%;
    }


}

@media (max-width:600px) {
    .left {
        width:80px;
    }

    .center {
        width: 70%;
        font-size: 32px;
        margin: 35px 0px 0px 140px;       
    }
    
    .right {
        width: 20%;
    }

    .subtitle p {
        font-size: 16px;
    }

    li h1 {
        font-size: 12px;
    }

    .main h1 {
        padding: 5px;
    }
    li {
        height: 70px;
        width: 80%;
        margin-top: 5px;
        padding-top: 3px;
    }

    .menu {
        display: inline-block;
    }
    .list {
        margin: 5px;
    }

}